$background-color: #FCFBFA;
$background-light: #EAEAEA;

$brand-color: #EB4A42;

$primary-text-color: #555555;
$secondary-text-color: #AAAAAA;
$nonimportant-text-color: #CCCCCC;

$disabled-button-background: #E0E0E0;
$disabled-button-color: #BFBFBF;

$mobile-breakpoint: 600px;
