$background-color: #FCFBFA;
$background-light: #EAEAEA;

$brand-color: #EB4A42;

$primary-text-color: #555555;
$secondary-text-color: #AAAAAA;
$nonimportant-text-color: #CCCCCC;

$disabled-button-background: #E0E0E0;
$disabled-button-color: #BFBFBF;

$mobile-breakpoint: 600px;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $background-color;
}

body {
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  padding: 1rem;

  -webkit-font-smoothing: antialiased;
}

.app-container {
  max-width: 900px;
  margin: 0 auto;
}


// Header

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;

  &__section {
    display: flex;
    align-items: center;

    &:first-child {
      @media (max-width: $mobile-breakpoint) {
        margin-bottom: 15px;
      }
    }

    &--baseline {
      align-items: flex-end;
      padding-bottom: 10px;
    }

    &__title {
      font-family: 'Montserrat', sans-serif;
      font-size: 47px;
      text-decoration: underline;
      color: $brand-color;
      margin: 0;
    }

    &__subtitle {
      font-size: 16.5px;
      color: $secondary-text-color;
      margin: 0;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

.form {
  display: flex;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;

    .form__button.form__button {
      margin-top: 10px;
      margin-left: 0;
      width: 100%;
    }
  }

  &__input {
    flex-grow: 1;
    border: 0px;
    border-radius: 3px;
    background-color: $background-light;
    font-size: 16px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
  }

  &__button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border: 0px;
    border-radius: 3px;
    background-color: $brand-color;
    color: #FFFFFF;

    &[disabled] {
      background-color: $disabled-button-background;
      color: $disabled-button-color;
      cursor: not-allowed;
    }

    &.spaced {
      margin-left: 15px;
    }
  }
}


.module {
  margin-top: 75px;

  &__header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;

    .title {
      margin: 0;
      font-size: 22px;
      font-weight: 300;
    }

    .btn {
      margin-left: 10px;

      border: 0px;
      background-color: transparent;
      color: $brand-color;
      font-size: 16px;
      cursor: pointer;
      padding-bottom: 2px;
    }

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
      align-items: flex-start;

      .btn {
        margin-left: 0;
        padding-left: 0;
        margin-top: 10px;
      }
    }
  }

  &_content {
    margin-top: 50px;
  }
}



.links-table {
  display: block;

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: normal;
  }

  &__head {
    display: block;
    color: $secondary-text-color;
  }

  &__body {
    display: block;
  }

  .row {
    display: flex;
    padding: 16px 0;

    th, tr {
      padding: 4px 0;
      overflow: hidden;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 14px;
      text-align: left;
    }

    td {
      flex: 0 0 100%;
    }

    .link {
      flex: 1 0 0;

      .click-out {
        .hover-content {
          padding: 0 16px;
          color: $brand-color;
          background-color: transparent;
          font-weight: lighter;
          float: right;
          opacity: 0;

          transition: opacity 350ms;

          @media (max-width: $mobile-breakpoint) {
            display: none;
          }
        }

        &:hover {
          .hover-content {
            opacity: 1;
          }
        }

        .shortened {
          display: block;
          font-weight: 400;

          strong {
            color: $brand-color;
            font-weight: inherit;
          }
        }

        .original {
          display: block;
          color: $nonimportant-text-color;
        }
      }
    }

    .visits {
      flex: 0 0 120px;

      @media (max-width: $mobile-breakpoint) {
        display: none;
      }
    }

    .timestamp {
      flex: 0 0 120px;
      text-align: right;
    }
  }
}
