$gray: #999999;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #F0F0F0;
}

body {
  color: $gray;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;

  -webkit-font-smoothing: antialiased;
}

.app-container {
  max-width: 900px;
  margin: 0 auto;
}


// Header

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;

  &__section {
    display: flex;
    align-items: center;

    &--baseline {
      align-items: flex-end;
      padding-bottom: 10px;
    }

    &__title {
      font-size: 47px;
      text-decoration: underline;
      color: #eb4a42;
      margin: 0;
    }

    &__subtitle {
      font-size: 16.5px;
      color: #aaaaaa;
      margin: 0;
    }
  }
}

.form {
  display: flex;

  &__input {
    flex-grow: 1;
    border: 0px;
    border-radius: 3px;
    background-color: #eaeaea;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
  }

  &__button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border: 0px;
    border-radius: 3px;
    background-color: #ED453A;
    color: #FFFFFF;

    &[disabled] {
      background-color: #e0e0e0;
      color: #bfbfbf;
      cursor: not-allowed;
    }

    &.spaced {
      margin-left: 15px;
    }
  }
}
