.form {
  display: flex;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;

    .form__button.form__button {
      margin-top: 10px;
      margin-left: 0;
      width: 100%;
    }
  }

  &__input {
    flex-grow: 1;
    border: 0px;
    border-radius: 3px;
    background-color: $background-light;
    font-size: 16px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
  }

  &__button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border: 0px;
    border-radius: 3px;
    background-color: $brand-color;
    color: #FFFFFF;

    &[disabled] {
      background-color: $disabled-button-background;
      color: $disabled-button-color;
      cursor: not-allowed;
    }

    &.spaced {
      margin-left: 15px;
    }
  }
}
